* {
  margin: 0;
  padding: 0;
  font-style: "Poppins";
  box-sizing: border-box;
}

body {
  background: #222;
}

.card {
    color: #ffff;
    text-align: center;
    width: 70%;
    max-width: 500px;
    margin: 100px auto 0;
    padding: 40px 20px;
    background: linear-gradient(135deg, #f6d365, #fda085);
    border-radius: 20px;
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    margin: 10px 0;
    padding: 10px 25px;
    border: 0;
    outline: 0;
    height: 50px;
    border-radius: 20px;
    flex: 1;
    font-size: 18px;
    color: #555;
    margin-right: 10px;
}

.search button{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.search button:hover{
    transform: scale(1.1);
}

.search button img{
    height: 20px;
    width: 20px;
}

.weather-icon{
    margin-top: 30px;
    width: 150px;
    border-radius: 10px;
}

.weather h1{
    font-size: 40px;
    font-weight: 500;
}

.weather h2{
    font-size: 30px;
    font-weight: 600;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
}

.col{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-align: left;
}

.col img{
    width: 90px;
    margin-right: 10px;
    border-radius: 10px;
}

/* .col p{
    font-size: 24px;
    font-weight: 600;
} */

.humidity, .windy{
    margin-top: -6pxpx;
    font-size: 25px;
}

.weather{
    display: none;
}

.error{
    display: none;
}